body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    background-color: #6a5acd; 
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
}

.main-container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #6a5acd; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 0;
    height: 100vh;
}

.sidebar .profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 1px;
    margin-left: 50px;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.nav-menu ul li {
    padding: 10px 20px;
    margin-bottom: 25px;
    text-align: left;
    cursor: pointer;
}

.nav-menu ul li:hover {
    background-color: #7d70db;
}

.footer-menu {
    margin-top: 300px;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.content h2 {
    margin-top: 0;
}

.assignments, .messages {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.assignment-card, .message-card {
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}
